<!DOCTYPE html>
<html lang="en">

<%- include('../Components/login-header.ejs') %>

<body>
    <div class="container">
        
        <div class="container-form">
            <form class="form">
                <a class="login" href="../login">Iniciar Sesión con Discord</a>
                <button><a href="../panel">Panel</a></button>
                <button><a href="https://discord.gg/v54fxhVKdN">Discord Server</a></button>
                <div class="border"></div>

                <span class="accept"><p>Aceptas al iniciar sesion las </p></span>
                <span class="accept2"><p><a href="#">Politicas de Privacidad</a> & <a href="#">Terminos de Uso</a></p></span>
                

            </form>
        </div>
    </div>

</body>

</html>